name: CI Pipeline
on:
  push:
    branches: [ main ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Ejecutar Docker
        run: |
          docker build -t monitor-pro .
          docker run --name mi-contenedor monitor-pro
          docker cp mi-contenedor:/app/index.html .
      - name: Subir Reporte
        uses: actions/upload-artifact@v4
        with:
          name: reporte-final
          path: index.html