name: Monitor con Auto-Ticket
on: push

permissions:
  issues: write
  contents: read

jobs:
  auditoria:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Ejecutar Auditoria
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          docker build -t auditor .
          docker run -e GITHUB_TOKEN="$GITHUB_TOKEN" -e GITHUB_REPOSITORY="$GITHUB_REPOSITORY" auditor